body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
}

	.Page_Header{
		text-align:center;
		font-size:32px;
		font-weight:bold;
		margin:25px;
	}
	.Nav_Bar{

		text-align:center;
		font-weight:bold;
		margin:15px;
	}
	.Nav_BarSpacing{
			margin:25px;
	}