doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.Page_Header All The Ciphers
      block extranav
        div.Nav_Bar 
          a.Nav_BarSpacing(href="http://127.0.0.1:5000") |Home|
          a.Nav_BarSpacing(href="http://127.0.0.1:5000/login") |Login|
          a.Nav_BarSpacing(href="http://127.0.0.1:5000/register") |Register|
      div.Grid_Layout
        block content