doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.Page_Header All The Ciphers
		div.Nav_Bar 
			a.Nav_BarSpacing(href="http://127.0.0.1:5000") Home
			a.Nav_BarSpacing(href="http://127.0.0.1:5000/ciphers/caesar") Caesar Cipher & ROT13
			a.Nav_BarSpacing(href="http://127.0.0.1:5000/ciphers/Substitution") Substitution Cipher
			a.Nav_BarSpacing(href="http://127.0.0.1:5000/ciphers/morse") Morse
		div.Grid_Layout
			block content
block#test
	script(type='text/javascript', src='/javascripts/changecipher.js',onload="changecipher()")
	script(type='text/javascript', src='/javascripts/changemethod.js')