extends layout
replace extranav
        a.Nav_BarSpacing(href="http://127.0.0.1:5000/user/messages") Your Messages |
        a.Nav_BarSpacing(href="http://127.0.0.1:5000/user/messages/send") Send A Message |
		  
block content
  h1= title
  ul
    each val in userMessages
      li=val

  
