extends layout

		  
block content
  h1.heading= title
  form(method="POST" action='')
    p here you can remove messages you have recieved.
    div.form-group
      label(for='MessageID') MessageID:
      input#MessageID.form-control(type='text', name='MessageID')
    button.btn.btn-primary(type='submit') Remove Message
  ul
    each val in messagesender
      li=val 
      br